body {
  font-family: Arial;
  background: #f4f6f8;
  margin: 0;
  text-align: center;
}

header {
  background: #0a7cff;
  color: white;
  padding: 20px;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
}

footer {
  background: #222;
  color: white;
  padding: 10px;
}
